@import 'media-breakpoints.scss';

.desktop-buttons {
    display: none;
   
   
    @include desktop {
        display: flex;
        gap: 32px;

        &__btn {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            background-color: inherit;
            font-family: TTLakes, "sans-serif";
            font-weight: 500;
            font-size: 16px;
            padding: 0;
            cursor: pointer;
            letter-spacing: -0.2px;
            line-height: 24px;
          }
    }
  }
