$bgColor:#F8F8F8;
$text:#1B1C21;
$сolor-white:#FFFFFF;
$сolor-hover:rgb(0, 191, 255);
$сolor-btn: #FF3E79;
$color-text-gray:#7E7E82;
$color-placholder:#B5B6BC;
$color-border:#D9FFF5;
$color-decorHeader:#EAEAEA;
$color-link-active:#B8FFEC;
$color-title-decor:#41F6D7;