@import 'media-breakpoints.scss';

.prices {
  &__head-item {
    display: flex;
    background-color: $bgColor;
    padding: 0 16px 16px 16px;
    width: 100%;
    justify-content: space-around;
  }

  &__title {
    color:$color-text-gray;
    font-family: TTLakes, sans-serif;
    font-size: 14px;
    font-weight: 500;
    opacity: 72%;
    line-height: 16px;
  }

  &__discription {
    font-size: 14px;
    letter-spacing: 0.2px;
  }

  &__card {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 0 16px;
    border-radius: 0;
  
  }

  &__wrapper {
    gap: 0;
    width: auto;
  }

  @include tablet {
    &__item &__title {
      display: none;
    }

    &__item-text:nth-child(1) {
      width: 55%;
    }

    &__item-text:nth-child(2) {
      width: 13%;
    }

    &__item-text:nth-child(3) {
      width: 15%;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      border-bottom:1px solid $color-decorHeader;
    }

   
  }

  @include desktop {
    &__item &__title {
      display: none;
    }

    &__item-text:nth-child(1) {
      width: 55%;
    }

    &__item-text:nth-child(2) {
      width: 13%;
    }

    &__item-text:nth-child(3) {
      width: 15%;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      border-bottom:1px solid $color-decorHeader;
    }

  
  }

  @include mobile() {
    .swiper-slide__btn-price {
      position: absolute;
    }
    &__head-item {
      display: none;
      gap: 0;
    }

    &__card {
      padding: 16px;
      width: 260px !important ;
      height: 200px;
    }

    &__title {
      margin-bottom: 4px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }

    &__wrapper {
      padding-left:8px;
    }
  }
}
