@import 'header.scss';
@import 'btn.scss';
@import 'info-section.scss';
@import 'container-media.scss';
@import 'menu-header.scss';
@import 'menu-left.scss';
@import 'logo-link.scss';
@import 'menu-right.scss';
@import 'title.scss';
@import 'navigation.scss';
@import 'buttons-tablet.scss';
@import 'buttons-desktop.scss';
@import 'color.scss';
@import 'desktop-title.scss';
@import 'swiper.scss';
@import 'swiper-slide.scss';
@import 'cards-more.scss';
@import 'swiper-wraper.scss';
@import 'btn-hide.scss';
@import 'swiper-title.scss';
@import 'swiper-pagination-bullet.scss';
@import 'hidden.scss';
@import 'pop-up.scss';
@import 'card-technique.scss';
@import 'prices.scss';
@import 'modal-feedback.scss';
@import 'data-users.scss';
@import 'blur.scss';
@import 'commercial-offer.scss';
@import 'footer.scss';


@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.woff2'),
    url('../fonts/TTLakes-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Medium.woff2'), url('../fonts/TTLakes-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Bold.woff2'), url('../fonts/TTLakes-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
 
 html {
  box-sizing: border-box;
  background-color: $bgColor;
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size: 14px;
    font-family: TTLakes,sans-serif;
    color: $text;
  }

  *,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  color: $text;
}

  main {
    display: block;
  }
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  pre {
    font-family: TTLakes,sans-serif; /* 1 */
    font-size: 1em; /* 2 */
  }

  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }

  b,
  strong {
    font-weight: 500;
  }
  
  code,
  kbd,
  samp {
    font-family: TTLakes,sans-serif;/* 1 */
    font-size: 1em; /* 2 */
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
  }
  
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  details {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  template {
    display: none;
  }

  a {
    background-color: transparent;
    text-decoration: none;
    color: $text;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
  }

  li {
    list-style: none;
  }

  button {
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

body {
 margin:0;
  font-family: TTLakes, sans-serif; 
}

@include desktop {
  .wrapper {
   margin-left: 320px;
  }

  .content-center {
    max-width: 1100px;
    margin:0 auto;
    position: relative;
    background-color: $bgColor;
    border-right: 1px solid rgba(0,0,0,0.1);
  }
}
 


